/Battle
/FizaAga_Day1.py.pdf
/FizaAga_Day10.py.pdf
/FizaAga_DAy11.py.pdf
/FizaAga_Day12.py.pdf
/FizaAga_Day13.py.pdf
/FizaAga_Day14.py.pdf
/FizaAga_Day15.py.pdf
/FizaAga_Day16.py.pdf
/FizaAga_Day17.py.pdf
/FizaAga_Day18.py.pdf
/FizaAga_Day19.py.pdf
/FizaAga_Day2.py.pdf
/FizaAga_Day20.py.pdf
/FizaAga_Day21.py.pdf
/FizaAga_Day22.py.pdf
/FizaAga_Day23.py.pdf
/FizaAga_Day24.py.pdf
/FizaAga_Day25.py.pdf
/FizaAga_Day26.py.pdf
/FizaAga_Day27.py.pdf
/FizaAga_Day28.py.pdf
/FizaAga_Day29.py.pdf
/FizaAga_Day3.py.pdf
/FizaAga_Day30.py.pdf
/FizaAga_Day31.py.pdf
/FizaAga_Day32.py.pdf
/FizaAga_Day33.py.pdf
/FizaAga_Day34.py.pdf
/FizaAga_Day35.py.pdf
/FizaAga_Day36.py.pdf
/FizaAga_Day37.py.pdf
/FizaAga_Day38.py.pdf
/FizaAga_Day39.py.pdf
/FizaAga_Day4.py.pdf
/FizaAga_Day40.py.pdf
/FizaAga_Day41.py.pdf
/FizaAga_Day42.py.pdf
/FizaAga_Day43.py.pdf
/FizaAga_Day44.py.pdf
/FizaAga_Day45.py.pdf
/FizaAga_Day46.py.pdf
/FizaAga_Day47.py.pdf
/FizaAga_Day48.py.pdf
/FizaAga_Day49.py.pdf
/FizaAga_Day5.py.pdf
/FizaAga_Day50.py.pdf
/FizaAga_Day51.py.pdf
/FizaAga_Day52.py.pdf
/FizaAga_Day53.py.pdf
/FizaAga_Day54.py.pdf
/FizaAga_Day55.py.pdf
/FizaAga_Day56.py.pdf
/FizaAga_Day57.py.pdf
/FizaAga_Day58.py.pdf
/FizaAga_Day59.py.pdf
/FizaAga_Day6.py.pdf
/FizaAga_Day60.py.pdf
/FizaAga_Day61.py.pdf
/FizaAga_Day62.py.pdf
/FizaAga_Day63.py.pdf
/FizaAga_Day64.py.pdf
/FizaAga_Day7.py.pdf
/FizaAga_Day8.py.pdf
/FizaAga_Day9.py.pdf
/Scraped_data.txt
/scraping.py
/scraping.py.pdf